.top-row {
    margin-bottom: 30px;
}
.top-row img {
    width: 100%;
    border-radius: 7px;
}
.bottom-row img {
    width: 100%;
    border-radius: 7px;
}

.top-row .card {
    width: 30%;
    margin: 1%;
}
.bottom-row .card {
    width: 48%;
  
}

.card {
    display: inline-block;
    
}


h3 {
    font-weight: 100;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 8px;
}

p {
   margin: 0;
   font-weight: 600;
    font-size: 16px;
}


@media (max-width: 575px) {
    .top-row .card {
        width: 100%;
    }
    .bottom-row .card {
        width: 100%;
    }
    body {
        /* background-color: red; */
    }
}

@media (min-width: 800px) {
    body {
        /* background-color: blue; */
    }
    .top-row .card {
        width: 18%;
    }
    .bottom-row .card {
        width: 18%;
    }

    .top-row, .bottom-row {
        display: contents;
    }
}

/* flex */


.flex-container {
    display: flex;
    
    background-color: aquamarine;
    height: 600px;
    justify-content: flex-start;
    align-items: flex-start;
   flex-flow: row wrap;
   gap: 20px;
   padding: 20px;
}

.box {

 
    border: 5px solid black;
    box-sizing: border-box;
  
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
 
}

.box:nth-of-type(1) {
    background-color: red;
    order: 5;
   
}

.box:nth-of-type(2) {
    background-color: red;
    order: 5;
   flex-grow: 5;
}
.box:nth-of-type(3) {
    background-color: red;
    order: 3;
   
}
.box:nth-of-type(4) {
    background-color: red;
    order: 4;
   
}