.projects-container {
    background-color: white;
    color: white;
    
}

.projects-container .card {
    box-shadow: -10px 10px 5px rgb(133, 97, 97);
    gap: 20px;
    margin-bottom: 20px;
    
}

.projects-container h2 {
    font-family: var(--fs-2);
    text-shadow: -5px 5px 5px rgb(133, 97, 97);
}

.projects-container .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .projects-container .cards {
        justify-content: center;
     
    }
}