body {
    padding: 2rem;
}

.code, code {
    padding: .2rem;
    /* light opacity grey background color */
    background-color: rgba(0, 5, 0, .05);
    color: red;
    border-radius: .3rem;
    font-size: 1.1rem;
    box-shadow: 0 0 .1rem rgba(0, 5, 0, .5)
}

li {
    list-style: none;
    border: 10px solid rgba(0, 5, 0, .3);
    padding: 2rem;
    margin: .5rem 0;
    overflow: scroll;
    border-radius: .3rem;
    background-color: rgba(0, 2, 0, .03);
}
ul {
    margin: 0;
    padding: 0;
}

hr {
    margin-top: 4rem;
    margin-bottom: 2rem;
    border-color: red;
}
hr:first-of-type {
    margin-top: 1rem;
}

ul li img {
    width: 600px;
    height: auto;
    box-shadow: 0 0 .1rem rgba(0, 5, 0, .5);
}
ul li img:hover {
   width: 100%;
}

h4 {
    margin: .4rem 0;
}