
/* cascading style sheets */

/* 

@media (max-width: 900px) {
    body {
        background-color: yellow;
    }
}
@media (max-width: 800px) {
    body {
        background-color: green;
    }
}
@media (max-width: 700px) {
    body {
        background-color: blue;
    }
}

@media(max-width: 500px) {
    body {
        background-color: red;
    }
} */

body {
    background-color: red;
}

body {
    background-color: blue;
}